package-manager=pnpm@latest

# Fix dependency cũ (rất hay cần)
shamefully-hoist=true
auto-install-peers=true

# Giảm lỗi conflict peer dependencies
strict-peer-dependencies=false

# Tăng tốc install
node-linker=isolated