@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
  * {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  }
  @media (prefers-reduced-motion: no-preference) {
  .motion-safe * {
    animation: inherit;
  }
}
canvas.fixed.inset-0 {
  z-index: 9999 !important;
  pointer-events: none !important;
  mix-blend-mode: screen;
  opacity: 1 !important;
}